{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "standard",
    "plugin:@typescript-eslint/recommended",
    "plugin:jest/recommended",
    "prettier/@typescript-eslint",
    "plugin:prettier/recommended",
  ],
  "plugins": [
    "@typescript-eslint",
    "simple-import-sort",
    "jest",
    "prettier"
  ],
  "env": {
    "node": true,
    "jest": true,
  },
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "rules": {
    "curly": ["error", "all"],
    "prefer-const": "error",
    "quotes": ["error", "single"],
    "newline-before-return": "error",
    "simple-import-sort/sort": "error",
    "@typescript-eslint/explicit-member-accessibility": ["error", {
      "accessibility": "no-public"
    }]
  }
}
